DB_CONN=mongodb://<myUserinAtlas>:<myUserinAtlas>@apibooks-shard-00-00-9ntso.mongodb.net:27017,apibooks-shard-00-01-9ntso.mongodb.net:27017,apibooks-shard-00-02-9ntso.mongodb.net:27017/contact-manager?ssl=true&replicaSet=apiBooks-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=<JWT_SECRET_HERE>